{% extends 'blog/base.html' %}
{% block content %}
    <header>
        <nav>
            <div class="w3-top">
                <div class="w3-bar w3-teal w3-row">
                  <a href="#" class="w3-bar-item w3-button w3-col l4 m4 s4">About</a>
                  <span href="" class="w3-bar-item w3-col w3-center l4 m4 s4">Lupus</span>
                  <a href="#" class="w3-bar-item w3-button w3-col l4 m4 s4">Admin</a>
                </div>
              </div>
        </nav>
    </header>
    <br><br><br>

    <article>
        <div class="w3-row">
            <div class="w3-col l3 m2 s1">
                <p></p>
            </div>
            <div class="w3-col l6 m8 s10 w3-center">
            {% for i in posts %}
                {% if i.status %}
                
                <div class="w3-white w3-card-4 w3-margin-bottom w3-padding w3-round">
                    <h1>{{ i.title }}</h1>
                    <p>By {{ i.author }} on {{ i.date }}</p>
                    {% if i.image %}
                        <img src="{{ i.image }}" alt="image" style="width: 25vw; height: auto;">
                    {% endif %}
                    <p>{{ i.price }}</p>
                    <p>{{ i.stock }}</p>
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <div class="w3-col l3 m2 s1">
                <p></p>
            </div>
        </div>    
    </article>

{% endblock content %}